.book-form {
  .error {
    input {
      border: 1px solid red;
    }
    .msg {
      color: red;
    }
  }

  .edit-form-container {
    width: 60%;
    margin-right: 2%;
    float: left;
  }

  .edit-form-content {
    @extend .container;
    border-top: none;
  }

  input[type=text] {
    width: 100%;
  }

  input.url-field {
    width: 50%;
    // float: left;
    margin-right: 2px;
    padding-right: 4px;
    text-align: right;
  }

  .icon-checkmark,
  .icon-cross {
    vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
}


#new-book-form {
  width: 60%;
  margin: 0 auto;

  > .required-notice {
    margin: 10px 0 0 34px;
  }
}

.new-book {
  h1 {
    text-align: center;
  }

  fieldset {
    @extend .container;
    padding: 0.5em 2em 1.5em;

    &:not(:first-of-type) {
      display: none;
    }
  }

  .next {
    float: right;
  }

  .previous {
    float: left;
  }
}

.progressbar {
  list-style-type: none;
  width: 590px;
  margin: 0 auto;
  padding: 0;

  li {
    list-style-type: none;
    color: #444;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    float: left;
    text-align: center;
    margin: 0.5em 0 2.5em;
    position: relative;

    &:before {
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: transparent;
      background: #d2d2d2;
      border-radius: 50%;
      margin: 0 auto 5px auto;
    }

    &:after {
      content: '';
      width: 100%;
      height: 8px;
      background: #d2d2d2;
      position: absolute;
      left: -50%;
      top: 6px;
      z-index: -1; /*put it behind the numbers*/
    }

    &:first-of-type:after {
      display: none;
    }
  }

  .active {
    &:before {
      color: transparent;
      font-weight: bold;
      background-color: $bb-green;
    }
    &:after {
      color: transparent;
      background-color: $bb-green;
    }
  }

  .step1:before {
    content: '1';
  }
  .step2:before {
    content: '2';
  }
  .step3:before {
    content: '3';
  }
  .step4:before {
    content: '4';
  }
}

.form-label {
  font-family: $droid-sans;
  font-weight: bold; 
}

.license-label {
  margin-bottom: 4px;
}

.other-options label {
  font-style: italic;
}

#other-license {
  margin-bottom: 6px;
}

#other-license-url {
  width: 100%;
}

.gh-project {
  font-family: $droid-sans;
  font-size: 22px;
  color: #666;
  margin: 1.8em 0;
  text-align: center;
}

.theme-options {
  text-align: center;
  img {
    border: 8px solid #e3e3e3;
    margin: 0 8px 8px 0;

    &:hover {
      border: 8px solid #ccc;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .highlighted {
    border: 8px solid $bb-orange;
    &:hover {
      border: 8px solid $bb-orange;
    }
  }
}

.book-form .settings-titlebar,
.book-form .edit-form-titlebar {
  border: 1px solid #ccc;
  padding: 0 1em;
}

.settings-container {
  width: 37%;
  float: left;
}

.settings-content {
  @extend .container;
  border-top: none;
  padding: 1px 1em 1em;

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $bb-dark;
    @include text-shadow(0 1px #fff);
  }
}

.settings-change-domain {
  float: left;
}

.logout-form {
  display: inline;

  button {
    padding: 0;
    border: none;
    background: transparent;
    color: $bb-orange;

    &:hover {
      text-decoration: underline;
    }
  }
}

.selection-radio {
  opacity: 0;
  position: absolute;
}
.selection-label {
  border: 8px solid #e3e3e3;
  width: 45%;
  min-height: 126px;
  display: table;
  float: left;
  margin: 2%;
  padding: 10px 8px 8px;
  text-align: center;
  font-size: 20px;

  &:hover {
    border: 8px solid #ccc;
  }

  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
input[type="radio"]:checked + .selection-label {
  border: 8px solid $bb-orange;
}

.select-gh-label {
  display: block;
  text-align: center;
  margin-bottom: 0.7em;
}
#select_gh_project {
  margin: 0 auto;
  display: block;
}

.github-warning.flash {
  padding: 1em;
  margin: 1em 0 0 0;
}