.book-form {
  .error {
    input {
      border: 1px solid red;
    }
    .msg {
      color: red;
    }
  }

  .new-form-container {
    @extend .container;
    width: 60%;
    margin: 0 auto;
  }

  .edit-form-container {
    width: 60%;
    margin-right: 2%;
    float: left;
  }

  .edit-form-content {
    @extend .container;
    border-top: none;
  }

  input[type=text] {
    width: 100%;
  }

  .site-url-wrapper {
    text-align: center;
  }

  .site-url {
    font-size: 1.4em;
  }

  input.url-field {
    width: 50%;
    // float: left;
    margin-right: 2px;
    padding-right: 4px;
    text-align: right;
  }

  .icon-checkmark,
  .icon-cross {
    vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
}

.form-label {
  font-family: $droid-sans;
  font-weight: bold; 
}

.license-label {
  margin-bottom: 4px;
}

.other-options label {
  font-style: italic;
}

#other-license {
  margin-bottom: 6px;
}

#other-license-url {
  width: 100%;
}

.gh-project {
  font-family: $droid-sans;
  font-size: 22px;
  color: #666;
  margin: 1.8em 0;
  text-align: center;
}

.theme-options {
  img {
    border: 8px solid transparent;
    margin-right: 8px;
    float: left;
    &:hover {
      border: 8px solid $bb-mint;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .highlighted {
    border: 8px solid $bb-orange;
    &:hover {
      border: 8px solid $bb-orange;
    }
  }
}

.book-form .settings-titlebar,
.book-form .edit-form-titlebar {
  border: 1px solid #ccc;
  padding: 0 1em;
}

.settings-container {
  width: 37%;
  float: left;
}

.settings-content {
  @extend .container;
  border-top: none;
  padding: 1px 1em 1em;

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $bb-dark;
    @include text-shadow(0 1px #fff);
  }
}

.settings-change-domain {
  float: left;
}

.logout-form {
  display: inline;

  button {
    padding: 0;
    border: none;
    background: transparent;
    color: $bb-orange;

    &:hover {
      text-decoration: underline;
    }
  }
}