// (older) Styles for the launch page
.jumbotron {
  background-image: url('../images/bookshelf_green.jpg');
  text-align: center;
  color: $bb-light;
  @include box-shadow(inset 0 12px 12px -12px #444, inset 0 -12px 12px -12px #444);  

  .inside {
    padding-bottom: 3em;
  }

  .form-text {
    font-size: 1em;
    margin: 0 auto;
    max-width: 27.5em; // 440px / 16px
  }

  h1 {
    font-size: 4em;
  }

  .subtext {
    font-size: 2em;
    line-height: 1.5em;
    max-width: 800px;
    margin: 2em auto 1.5em;

    a {
      color: $bb-light;
      border-bottom: 2px solid $bb-light;

      &:hover {
        text-decoration: none;
        color: $bb-mint;
        border-bottom: 2px solid $bb-mint;
      }
    }
  }
}

.explainer {

  .inside {
    // Removed dividers to go with alternating color backgrounds.
    // border-top: 1px solid #fff;
    // border-bottom: 1px solid #ddd;
    padding-top: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
  }

  h2 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.2em;
  }

  &:nth-child(2n) {
    background-color: white;
  }
}

.explainer-themes,
.explainer-os {
  text-align: center;
}

.bb-diff {
  float: left;
  margin: 0 3em 1em 0;
}

.bb-octocat {
  float: right;
  margin: 3em 0 0 1em;
  max-width: 290px;
}

// Signup Form.
#mc_embed_signup {
  clear: left;
  font-family: $helvetica;

  label {
    text-indent: -9999px;
    display: block;
    height: 0;
  }
}

#mce-EMAIL {
  padding: 0.5em;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 2px;
}

#mc-embedded-subscribe {
  color: $bb-light;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: $bb-dark;
  border: 1px solid #222;
  @include text-shadow(0px 2px #222);
  @include border-radius(2px);
  @include box-shadow(inset 0 10px 10px -10px #777);

  &:hover {
    @include box-shadow(none);
  }
  &:active {
    @include box-shadow(none);
    background-color: darken($bb-dark, 5%);
  }
}

.theme-thumbs {
  text-align: center;
  margin-top: 3em;

  img {
    margin: 2em 1em;
  }
}

// (newer) Bitbooks front-page styles
// (bwb = built with bitbooks)
.bwb-container {
  margin-bottom: 1em;
}
.bwb-item {
  float: left;
  width: 31%;
  margin: 0 1%;

  .btn-primary {
    margin-top: 14px;
  }
}
.bwb-book-link {
  float: left;
  display: block;
  margin-right: 1em;
}
.bwb-book {
  // Remove size restrictions, once we pull in GH stars, data, etc.)
  width: 80px;
  height: auto;
}
.bwb-title {
  text-align: center;
  font-size: 1.4em;
}
.bwb-author {
  margin: 0 0 0 4px;
}

.how-to-vid {
  float: right;
}