<!-- @todo: remove this once I'm sure it isn't being used -->
<form class="logout-form" accept-charset="UTF-8" action="https://github.com/logout" method="post">
  <button type="submit">Log Out</button>
</form>