<%# Loop through messages and build alert boxes for each one %>
<% messages.each do |category, message_group| %>

  <% [*message_group].each do |message| %>
    <div class="message message-<%= category %>">
      <%= message %>
      <a class="icon-cross" href="#"></a>
    </div>
  <% end %>

<% end %>