<%# views/layout.erb %>
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Bitbooks | Teaching the world, open-source style.</title>
  <% puts request.inspect %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="titlebar">
    <div class="inside clearfix">
      <a href="/" class="logo"><img src="/images/bitbooks-header.png" /></a>
      <ul class="titlebar-links">
        <% if authenticated? %>
          <li><a href="/my-books">My Books</a></li>
        <% end %>
        <%#= login_link %>
      </ul>
    </div>
  </header>
  
  <%= yield %>

  <footer class="site-footer">
    <div class="inside clearfix">
        <ul class="links left-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Open Source</a></li>
          <li><a href="/styleguide">Styleguide</a></li>
        </ul>
        <ul class="links right-links">
          <li>Copyright 2014</li>
          <li>Made by <a href="http://bryanbraun.com">Bryan</a></li>
        </ul>
    </div>
  </footer>
  <!-- temporary inclusion of scripts -->
  <script src="//code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="/js/all.js" type="text/javascript"></script>
</body>
</html>