<section class="main error four-oh-four">

  <%= styled_flash %>

  <div class="inside">
    <h1>Page Not Found</h1>
    <p>Bummer. We couldn't find what you were looking for.</p>
    <img src="/images/404.png">
  </div>
</section>