<%# views/templates/index.erb %>
  <section class="jumbotron">
    <div class="inside">
      <%= styled_flash %>

      <h1 class="visuallyhidden">Bitbooks: Build online books from Markdown content on Github.</h1>
      <p class="subtext">Build online books directly from Github</p>
      <img src="images/turn-this.png" />

      <% if !!(!authenticated?) %>
        <p><a class="btn btn-large" id="main-login" href="https://github.com/login/oauth/authorize?scope=public_repo,admin:repo_hook&client_id=<%= client_id %>"><span class="btn-icon icon-github2"></span>Login with Github</a></p>
      <% end %>
      <!--<p class="subtext"><a href="mailto:bryan@bitbooks.cc">Ask</a> to join the Private Beta.</p>-->
      <!--End mc_embed_signup-->
    </div>
  </section>
  <section class="explainer explainer-1 clearfix">
    <div class="inside">
      <iframe class="how-to-vid" width="420" height="315" src="//www.youtube.com/embed/NKeI5tODN0Q?rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
      <h2>How it works</h2>
      <p>Bitbooks turns a repo full of markdown files into a handsome, hosted, online book.</p>
      <p>Watch the one-minute video and see how easy it is to get started.</p>
    </div>
  </section>
  <section class="explainer explainer-1">
    <div class="inside">
      <img class="bb-octocat" src="images/octocat_sm.png" />
      <h2>If you can use Github, you can use Bitbooks.</h2>
      <p>Bitbooks is by developers, for developers. From edits to pull requests, you manage all your content on Github, just the way you're used to. Commits to your public repo will automagically update your book on Github pages behind the scenes. No walled gardens. No nonsense. It's Github Pages, for books.</p>
    </div>
  </section>
  <section class="explainer explainer-2">
    <div class="inside">
      <h2>Books Built with Bitbooks</h2>
      <div class="bwb-list clearfix">
        <div class="bwb-item">
          <h3 class="bwb-title">Git From the Bottom Up</h3>
          <a href="https://jwiegley.github.io/git-from-the-bottom-up/" class="bwb-book-link"><img class="bwb-book" src="/images/book_covers/book-green-sm.png" /></a>
          <div class="bwb-info">
            <span class="bwb-author"> by John Wiegley</span><br />
            <a href="http://jwiegley.github.io/git-from-the-bottom-up/" class="btn btn-primary">Read the Book</a><br />
            <a href="https://github.com/jwiegley/git-from-the-bottom-up" class="btn">See it on Github</a>
          </div>
        </div>
        <div class="bwb-item">
          <h3 class="bwb-title">The Tiny (Drupal) Book of Rules</h3>
          <a href="https://bryanbraun.github.io/tiny-book-of-rules/" class="bwb-book-link"><img class="bwb-book" src="/images/book_covers/book-red-sm.png" /></a>
          <div class="bwb-info">
            <span class="bwb-author"> by Johan Falk</span><br />
            <a href="http://bryanbraun.github.io/tiny-book-of-rules/" class="btn btn-primary">Read the Book</a><br />
            <a href="https://github.com/bryanbraun/tiny-book-of-rules" class="btn">See it on Github</a>
          </div>
        </div>
        <!--
        <div class="bwb-item">
          <h3 class="bwb-title">Book Title Here</h3>
          <a href="#" class="bwb-book-link"><img class="bwb-book" src="/images/book_covers/book-teal-sm.png" /></a>
          <div class="bwb-info">
            <span class="bwb-author"> by First Last</span><br />
            <a href="#" class="btn btn-primary">Read the Book</a><br />
            <a href="#" class="btn">See it on Github</a>
          </div>
        </div>
      -->
      </div>
    </div>
  </section>
  <section class="explainer explainer-themes">
    <div class="inside">
      <h2>Customize the Look</h2>
      <p>Choose from a selection of handcrafted, minimalist, responsive themes.</p>
      <div class="theme-thumbs">
        <img class="full-img" src="images/bitbooks-mobile-sizes.png" />
      </div>
    </div>
  </section>
  <section class="explainer explainer-os">
    <div class="inside">
      <h2>Open source or bust.</h2>

      <p>We've released the static site framework that runs Bitbooks as an open source project called "<a href="https://github.com/bryanbraun/franklin">Franklin</a>." It's like <a href="http://octopress.org/">Octopress</a> for book projects. You should really check it out.</p>

      <a href="https://github.com/bryanbraun/franklin"><img class="franklin-img" src="images/franklin.png"></a>

      <p><small>We are also sharing <a href="https://github.com/bryanbraun/anchorjs">this javascript utility</a>, <a href="https://github.com/bryanbraun/frontend-styleguide">this styleguide template</a>, and <a href="https://github.com/bryanbraun/middleman-navtree">this ruby gem</a>. Yay <a href="http://tom.preston-werner.com/2011/11/22/open-source-everything.html" target="_blank">open source</a>!</small></p>
    </div>
  </section>
  <section class="explainer explainer-0">
    <div class="inside">
      <img class="bb-diff" src="images/bitbooks-diff-sm.png" />
      <h2>Why?</h2>
      <p>We love creative commons books like <a href="http://git-scm.com/book" target="_blank">Scott Chacon's Pro Git</a>, and <a href="http://diveintohtml5.info/" target="_blank">Mark Pilgram's Dive into HTML5</a>. They are well designed. They show up in search results. They are available in various formats and languages. The idea behind Bitbooks is to make it easy for Developers to write and maintain books like these, using Github as a collaborative writing platform.</p>
    </div>
  </section>