<section class="main book-form new-book">
  <div class="inside">

    <%= styled_flash %>

    <div class="new-form-container">
      <h1>Create a New Book</h1>
            <!-- this is the Add a new book form, which appears when the user clicks the + at the bottom of the page -->
      <form id="new-book-form" action="/books" method="post" enctype="multipart/form-data">
        <div class="form-item">
          <h3>Which Github Project contains the content for your book?</h3>
          <label for="select_gh_project">Github Project*:</label><br />
          <select name="book[gh_full_name]" id="select_gh_project" required>
            <% @repos.each do |repo| %>
              <option value="<%=h repo.full_name %>"><%=h repo.name %></option>
            <% end %>
          </select>
        </div>
        <!-- rest of form -->
        <div class="form-item">
          <label for="book-title">Book Title:<span class="required">*</span></label><br />
          <input type="text" id="book-title" name="book[title]" required placeholder="Your Grandma's Guide to Perl" />
          <div class="msg book-title-msg"></div>
        </div>
        <div class="form-item">
          <label for="author">Author:<span class="required">*</span></label><br />
          <input type="text" id="author" name="book[author]" required placeholder="Leroy Jenkins" />
          <div class="msg author-msg"></div>
        </div>
        <div class="form-item">
          <p class="form-label license-label">License:</p>
          <label for="cc-by">Attribution</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by" value="cc-by" /><br/>
          <label for="cc-by-nd">Attribution-NoDerivs</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nd" value="cc-by-nd" /><br/>
          <label for="cc-by-sa">Attribution-ShareAlike</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-sa" value="cc-by-sa" /><br/>
          <label for="cc-by-nc">Attribution-NonCommercial</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc" value="cc-by-nc" /><br/>
          <label for="cc-by-nc-sa">Attribution-NonCommercial-ShareAlike</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc-sa" value="cc-by-nc-sa" /><br/>
          <label for="cc-by-nc-nd">Attribution-NonCommercial-NoDerivs</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc-nd" value="cc-by-nc-nd" /><br/>
          <label for="other">Other</label>
          <input type="radio" class="radio" name="book[license]" id="other" value="other" /><br/>
          <span class="followup-q"><a href="#">How do I know which license to use?</a></span>
          <div class="other-options" style="display: none;">
            <label for"other-license">License Name: </label><br />
            <input type="text" id="other-license" name="book[other_license]" /><br />
            <label for"other-license-url">Link to License: </label><br />
            <input type="url" id="other-license-url" name="book[other_license_url]"/><br />
            <span class="followup-q"><a href="#">Can I just release it into the Public Domain?</a></span>
          </div>
        </div>
        <div class="form-item theme-options clearfix">
          <label for="selected-theme">Theme*:</label><br />
          <img src="/images/theme-glide-thumb.png" data-value="Glide" class="highlighted"/>
          <img src="/images/theme-epsilon-thumb.png" data-value="Epsilon" />
          <!-- see http://stackoverflow.com/questions/4178516/highlight-selected-image-in-form-with-jquery, on setting this up -->
          <input type="hidden" id="selected_theme" name="book[theme]" value="Glide" >
        </div>
        <div class="form-item">
          <input class="btn btn-primary" type="submit" value="Build my Site" onclick="checkLicense()" /><br />
          <small>By clicking this button, I agree to the Bitbooks <a href="#">Terms of Service</a>.</small>
        </div>
        <small class="required">* Required</small>
      </form>
    </div>
  </div>
</section>